<h1>Burgers</h1>
<div class="container">
  {{!-- <img src="../public/assets/img/burger.jpeg" width="" id="burger"/> --}}
  <div class="row">
    <div class="col-md-6">
      <h2>Burgers Available</h2>
      {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
      {{!-- need to figure out how to link these actions --}}
      {{!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ --}}
      <ol>
        {{#each burgers}}
          {{#unless this.devoured}}
            <li>
              {{this.burger_type}}
              <form class="change-form" data-id="{{this.id}}" data-newdevour="{{devour}}">
                <button type="submit" id="devour-btn">Devour it!</button>
              </form>
            </li>
          {{/unless}}
      {{/each}}
      </ol>
  
        
    </div>
    <div class="col-md-6">
      <h2>Burgers Devoured</h2>
      <ol>
      {{#each burgers}}
        {{#if this.devoured}}
          <li>
              {{this.burger_type}}
          </li>
        {{/if}}
      {{/each}}
      </ol>
    </div>
  </div>
  <h2>Build Your Own Burger</h2>
  <div class="row">
    <form class="create-form" action="/burgers" method="POST">
      <textarea type="text" id="burg"></textarea>
      <button type="submit" id="make-burger">Make a Burger!</button>
    </form>
  </div>
</div>

